.ejemplo{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 35px;
    }

.caja{

    background: gray;
    width: 300px;
    color: white;
    border-radius: 8px;
    font-size: 120px;
}